


<ion-content padding class="bg-light">

    <div padding-horizontal text-center>
        <div class="logo"></div>
        <h3 no-margin>
          <ion-text color="light" class="fw700">
            <ion-text color="secondary">Add Plan</ion-text>
          </ion-text>
        </h3>
      </div>

    
 
      <form [formGroup]="newPlanForm" class="list-form">
    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" formControlName="planname" name="kiplannamedname" [class.invalid]="!newPlanForm.controls.planname.valid && (newPlanForm.controls.planname.dirty || submitAttempt)" ></ion-input>
    </ion-item>

    <ion-item *ngIf="!newPlanForm.controls.planname.valid  && (newPlanForm.controls.planname.dirty || submitAttempt)">
        <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">Date</ion-label>
      <ion-datetime placeholder="Select Date" formControlName="plandate" ></ion-datetime>
    </ion-item>
    

    </form>




  <div class="ion-padding">
    <ion-button expand="block" (click)="addPlan()" class="ion-no-margin">Add Plan</ion-button>
  </div>

  <div class="ion-padding">
      <ion-button expand="block" [routerLink]="['/kid-info/' + this.kidId]" class="ion-no-margin">Cancel</ion-button>
    </div>

</ion-content>
