<ion-header>
  <ion-toolbar>
    <ion-title>New Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <form [formGroup]="newPlanForm">
    <ion-item>
      <ion-label position="stacked">Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" formControlName="planname" name="kiplannamedname" [class.invalid]="!newPlanForm.controls.planname.valid && (newPlanForm.controls.planname.dirty || submitAttempt)" ></ion-input>
    </ion-item>

    <ion-item *ngIf="!newPlanForm.controls.planname.valid  && (newPlanForm.controls.planname.dirty || submitAttempt)">
        <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Start Date</ion-label>
      <ion-datetime placeholder="Select Date" formControlName="plandate" ></ion-datetime>
    </ion-item>
    

    </form>


  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" (click)="addPlan()" class="ion-no-margin">Add Plan</ion-button>
  </div>

</ion-content>
