<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="goBack()" ></ion-icon>
    </ion-buttons>
    <ion-title>{{ plan.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deletePlan()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-img [src]='plan.photo' (click)="presentModal()" ></ion-img>
    <ion-card-header>
        <ion-card-title text-center>{{ plan.name }}</ion-card-title>
    </ion-card-header>
</ion-card>
    <ion-fab vertical="center" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add" (click)="addTask()">></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
      <ion-list>
        <ion-item button detail *ngFor="let task of plan.taskz" routerDirection="forward">
          <ion-label>{{ task.name}}</ion-label>
          <!-- <ion-badge color="secondary">{{plan.planTaskz.length}}  </ion-badge> -->
        </ion-item>
      </ion-list>
      

</ion-content>
