<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-title>{{ plan.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deletePlan()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="bg-white">
    <ion-img [src]='plan.photo' (click)="presentModal()"></ion-img>
    <ion-button expand="full" (click)="addTask()"no-margin>
      <ion-ripple-effect></ion-ripple-effect>Add Task
    </ion-button>
  
  </ion-card>
 
  <ion-list>
    <ion-item *ngFor="let task of plan.taskz">
      <ion-label>{{ task.name}}</ion-label>
      <ion-checkbox color="success" slot="end" [(ngModel)]="task.bComplete" (ionChange)="checkEvent(task)">
      </ion-checkbox>
    </ion-item>
  </ion-list>


</ion-content>