<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Set Mood</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-light">

  <ion-grid>
    <ion-row responsive-sm wrap >
      <ion-col *ngFor="let planMood of planMoods" size="6">
          <div>
              <ion-img [src]='planMood' (click)="setPlanMood(planMood)"></ion-img>
          </div>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  


</ion-content>
