<ion-header>
  <ion-toolbar>
    <ion-title>Set Mood</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <div><img decoding="async" src="assets/emotions/neutral.png"></div>
              </ion-col>
              <ion-col>
                  <div><img decoding="async" src="assets/emotions/happy.png"></div>
              </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div><img decoding="async" src="assets/emotions/sad.png"></div>
              </ion-col>
              <ion-col>
                  <div><img decoding="async" src="assets/emotions/crying.png"></div>
              </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div><img decoding="async" src="assets/emotions/angry.png"></div>
              </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
