<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ kid.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteKid()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card >
    <ion-img [src]='kid.photo' ></ion-img>
    <ion-card-header>
        <ion-card-title text-center>{{ kid.name }}</ion-card-title>
    </ion-card-header>
</ion-card>

</ion-content>
