<ion-header>
  <ion-toolbar>
    <ion-title>
      Kidz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-button expand="block" [routerLink]="['/add-kid']">
          <ion-ripple-effect></ion-ripple-effect>Add Kid
        </ion-button>      
    <ion-list>
      <ion-item button detail *ngFor="let kid of kidsService.kids" [href]="'/kid-info/' + kid.id" routerDirection="forward">
        <ion-thumbnail slot="start">
          <ion-img [src]='kid.photo'></ion-img>
        </ion-thumbnail>
        <ion-label>{{ kid.name}}</ion-label>
      </ion-item>
    </ion-list>
   
  </div>
</ion-content>
