<ion-header >
  <ion-toolbar color="tertiary">
    <ion-title>
      Kidz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-light">

      <ion-button expand="block" [routerLink]="['/add-kid']">
          <ion-ripple-effect></ion-ripple-effect>Add Kid
        </ion-button>      
    <ion-list no-border>
        <ion-list-header>
            <ion-text color="dark">
              <h5>Kidz</h5>
            </ion-text>
          </ion-list-header>
      <ion-item button detail *ngFor="let kid of kidsService.kids" [href]="'/kid-info/' + kid.id" routerDirection="forward">
        <ion-thumbnail slot="start">
          <ion-img [src]='kid.photo'></ion-img>
        </ion-thumbnail>
        <ion-label color="primary">{{ kid.name}}</ion-label>
      </ion-item>
    </ion-list>
   

</ion-content>
