<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item button detail *ngFor="let kid of kidsService.kids" [href]="'/kid-info/' + kid.id" routerDirection="forward">
        <ion-thumbnail slot="start">
          <ion-img [src]='kid.photo'></ion-img>
        </ion-thumbnail>
        <ion-label>{{ kid.name}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add" [routerLink]="['/add-kid']"></ion-icon>
      </ion-fab-button>
    </ion-fab>
   
  </div>
</ion-content>
